@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0F1F1C;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc( (100% - var(--container-width)) / 2 + var(--container-padding) );
}

.block {
    height: 200px;
    background-color: darkseagreen;
}

/* Header */ 

.header {
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;

    color: #FFF;
}

.header a {
    color: #FFF;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url("./../img/header/header-bottom.svg") ;
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;

}

.header__content {
    max-width: 592px;

}

/* Nav */ 

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}

.nav__list a:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    display: block;
    width: 0;
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 50px;

    transition: 0.3s;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    display: block;
    width: 35px;
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 50px;

}

.nav__login {

}

/* Logo */

.logo {
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
}

.logo a {
    color: inherit;
}